@import '../../styles/base.scss';

.search-box {
	.search-label {
		margin-bottom: 10px;
		font-size: $font-size-lg;
		font-weight: bold;
	}

	.search-input {
		width: 100%;
	}
}

.customer-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.btn-div {
		padding: 5px;
	}

	.customer-detail {
		border-right: 1px solid black;
		flex: 1;
		min-height: 300px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;

		.title-label {
			.title {
				min-width: 200px;
			}
		}
	}

	.meter-info {
		text-align: center;
		flex: 1;
		min-height: 200px;

		.last-meter {
			.title {
				margin-top: 10px;
				font-weight: bold;
				font-size: $font-size-xl;
			}

			.label {
				padding: 20px 10px;
				font-size: $font-size-5xl;
			}
		}
	}
}

.title-label {
	display: flex;
	padding: 4px;
	font-size: $font-size-lg;

	.title {
		min-width: 150px;
		text-align: left;
		font-weight: bold;
	}
}

.info-box {
	.basic-box {
		flex: 1;
	}

	.billing-info {
		display: flex;
		flex-direction: column;
		font-size: $font-size-lg;

		.info {
			display: flex;
			justify-content: space-between;
			padding: 20px 10px;
			border-bottom: 1px dashed;
		}

		.summary {
			margin-top: 10px;
			padding: 20px 10px;
			border-bottom: 1px dashed;

			& > div {
				padding: 4px;
				display: flex;
				justify-content: space-between;
			}
		}

		.bill {
			margin-top: 20px;
			padding: 20px 10px;

			table {
				width: 100%;

				td {
					text-align: center;
				}

				.price {
					text-align: right;
				}
			}
		}
	}
}
